{
    "base-dir": "NSCMS/",
    "table-path": "assets/json-db/",
    "module-path": "assets/module/",
    "skin-path": "assets/html/skin/",
    "skin-name": "default",
    "html-path": "assets/html/",
    "locale": "en_EN.UTF8",

    "site": {
        "lang": "en",
        "dir": "ltr",
        "title": "A new NoSQLBlog",
        "desc": "A simple blog system without sql",
        "keywords": "nosql cms nscms blog team blogger links"
    },
    "robots": {
        "property": "index follow",
        "revisit-after": "3 days"
    },
    "mobile": {
        "tile-color": "black",
        "tile-image": "unset",
        "capable": "yes",
        "manifest": "manifest.mobile.php"
    },

    "icons": {
        "image180": "",
        "image96": "",
        "image32": "",
        "favicon": ""
    },

    "OpenGraph": {
        "title": "Main-Site",
        "locale": "en_EN",
        "type": "website",
        "url": "BITTE AUSFÜLLEN",
        "image": "",
        "author": "NSCMS Team"
    }
}