{
    "base-dir": "127.0.0.1",

    "site-title": "A new NoSQLBlog",
    "site-desc": "A simple blog system without sql",
    "site-keywords": "nosql cms nscms blog team blogger links",

    "table-path": "/josn-db/",
    "module-path": "/module",
    "skin-path": "/html/skin/",
    "skin-name": "default",
    
    "locale": "en_EN.UTF8",

    "robots": {
        "property": "index follow",
        "revisit-after": "3 days"
    },
    "mobile": {
        "tile-color": "black",
        "tile-image": "unset",
        "capable": "yes",
        "manifest": "manifest.mobile.php"
    },

    "icons": {
        "image180": "",
        "image96": "",
        "image32": "",
        "favicon": ""
    },

    "OpenGraph": {
        "title": "A new NoSQLBlog",
        "locale": "en_EN",
        "type": "website",
        "url": "",
        "image": "",
        "author": "NSCMS Team"
    }
}